*:root {
    font-family: 'Work Sans', sans-serif;
        --blog-background: #F5F5F5; 
        --cultural-blog-entry-text: #5c9926;
        --technical-blog-entry-text: rgb(30 107 138)
}
html{
    background-color: var(--blog-background);
}

.tech-blog-html {
    color: var(--technical-blog-entry-text)
}

.cultural-blog-html {
    color: var(--cultural-blog-entry-text);
}

#nav {
    display: flex;
    margin-right: 25pt;
}

h1 {
    font-size: 24pt;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 15px;
    margin-bottom: 75px;
}

h2 {
    text-decoration: underline;
    text-underline-offset: 10px;
    line-height: 1.5;
    margin-left: 15vw;
    margin-right: 15vw;
}

a:visited {
    color: var(--blog-entry-text)
}

article {
    margin-left: 25vw;
    margin-right: 25vw;
}

#div-indent{
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

table{
    margin-left: 15vw;
    margin-right: 15vw;
    border-color: collapse;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
}