*:root {
    font-family: 'Work Sans', sans-serif;
        --blog-entry-text: #212121;
        --cultural-1-background: #f79862;
        --cultural-2-background: cadetblue;
        --technical-1-background: #759956; 
        --technical-2-background: #ffcdee;
        color: var(--index-text);
}
#nav {
    display: flex;
}
a:visited {
    color: var(--blog-entry-text)
}
article {
    margin-left: 25vw;
    margin-right: 25vw;
}

.cultural {
    background-color: #759956;
}

.technical {
    background-color: #ffcdee;
}

h2 {
    text-decoration: underline;
    text-underline-offset: 10px;
    line-height: 1.5;
}