*:root {
    font-family: 'Work Sans', sans-serif;
        --index-text: #E74C3C;
        --blog-entry-text: #212121;
        --index-background: #F5F5F5;
        --cultural-1-background: #cc7400;
        --technical-1-background: #3a9301;
        color: var(--index-text);
}
#nav {
    background-color: var(--index-background);
}
#hero-title {
    background-color: var(--index-background);
}
#body-text {
    background-color: var(--index-background);
    display: flex;
}
#wide-column {
}
#narrow-column {
    
}