*:root {
    font-family: 'Times New Roman', Times, serif;
}
#top-nav {
    background-color: darkslateblue;
    height: 150px;
    padding-top: 10px;
}
#home {
    background-color: #ffe6d7;
    height: 45px;
}
#technical-tree {
    background-color: lightseagreen;
    height: 45px;
    
}
#core-tree {
    background-color: lavenderblush;
    height: 45px;
    
}
#blog-heading {
    background-color: khaki;
    height: 45px;
}
#about-me {
    background-color: lightcyan;
    height: 400px;
    display: flex;
}
#about-me-image {
    border-width: medium;
}
#about-me-text {

    background-color: slategrey;
    color: peachpuff;
}